 body {
      background-color: rgb(86, 77, 86);
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      color: white;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: rgb(50, 45, 50);
    }

    nav h1 {
      margin: 0;
    }

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li a {
      text-decoration: none;
      color: seashell;
      font-weight: bold;
    }

    .about-section {
      text-align: center;
      padding: 40px;
    }

    .about-section h2 {
      color: rgb(188, 188, 227);
      font-weight: bold;
      margin-bottom: 20px;
    }

    .about-section p {
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.6;
    }

    .project-section {
      text-align: center;
      padding: 40px;
    }

    .project-section h2 {
      color: seashell;
      margin-bottom: 30px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }

    .box {
      width: 600px;
      height: 600px;
      background-color: rgb(62, 191, 62);
      border: 2px solid rgb(237, 231, 231);
      padding: 20px;
      color: black;
      text-align: center;
      overflow: auto;
    }
    img {
      max-width: 90%;
      height: auto;
    }

    form{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
}
form input{
    border-radius: 10px;
    padding-left: 10px;
    height: 35px;
}
form textarea{
    height: 70px;
}

button{
    padding: 10px;
    text-align: center;
    align-items: center ;
    margin: auto;
    margin-top: 10px;
}
