nav{
    display: flex;
    justify-content: space-between ;
    
    flex-direction: row;
    
}

ul{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.about{
    color: blue;
    front-size: 24px;
    font-weight: bold;
    display: flex;
}